.app-title {
    font-size: 4rem;
    color: var(--color-title);
}

.welcome-title {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.hidden {
    display: none;
}

.btn-restart {
    margin-top: 1rem;
}